<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.template.restapi.aggregate.user.store.repository.PostRepository">

    <!-- 해당하는 유저 번호 / 날짜의 게시글만 골라오기-->
    <select id="selectPost" resultType="PostDto">
        SELECT *
        FROM post
<!--        WHERE user_id = #{user_id}-->
<!--        AND DATE(post_date) = #{post_date}-->
    </select>

    <!-- 글 작성하기 -->
    <insert id="insertPost" parameterType="PostDto">
        INSERT INTO post
            (user_id, post_writer, title, sub_title, content)
        VALUES
            (
                #{user_id},
                (SELECT user_nickname FROM user_info WHERE user_id = #{user_id}),
                #{title}, #{sub_title}, #{content}
            )
    </insert>

    <!-- 해당하는 본인 포스트 한 개 삭제하기 -->
    <delete id="deletePost" parameterType="PostDto">
        DELETE FROM post
        WHERE post_id = #{post_id} AND user_id = #{user_id}
    </delete>

</mapper>