html, body, #root {
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  padding: 10px;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  background-color: #f1f1f1;
  padding: 10px;
  margin-bottom: 10vh;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

main {
  flex: 1;  /* Flexbox layout to push footer to the bottom */
  padding: 20px;
}

footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  margin-top: 10vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Additional styles */

#tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

#tab menu {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

#tab menu button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  background-color: transparent;
  color: #80dbf4;
  font-family: 'Indie Flower', serif;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#tab menu button:hover {
  background-color: #5e63e9;
  color: #ebe7ef;
}

#tab menu button.active {
  background-color: #5c60e6;
  color: #ebe7ef;
}

menu {
  display: flex;
  gap: 10px;
}

#login {
  display: flex;
  align-items: center;
}

#login button {
  padding: 5px 10px;
  font-size: 14px;
}
