.App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: flex-end;
  transform: translateX(-9%);
}

.searchBox {
  border: 1px solid #94e8ff; 
  border-radius: 8px;
}

input[type="text"] {
  width: 150px;
  padding: 2px 4px 2px 10px;
  border: none;
  font-size: 14px;
  outline: none;
}