<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %green(%d{yyyy-MM-dd HH:mm:ss.SSS}) %magenta([%thread]) %highlight(%5level) %cyan(%logger) - %yellow(%msg%n)
            </pattern>
        </encoder>
    </appender>

    <logger name="jdbc.sqlresultsettable" level="DEBUG"/>
    <logger name="jdbc.resultset" level="OFF"/>
    <logger name="jdbc.audit" level="OFF"/>
    <logger name="jdbc.connection" level="INFO"/>
    <logger name="jdbc.sqlonly" level="INFO"/>
    <logger name="jdbc.sqltiming" level="DEBUG"/>
    <logger name="com.template.restapi" level="INFO"/>
    <!-- turn OFF all logging (children can override) -->
    <root level="INFO">
        <appender-ref ref="console" />
    </root>

<!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-3level %logger{5} - %msg %n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    <logger name="jdbc" level="OFF"/>-->
<!--    <logger name="jdbc.sqlonly" level="OFF"/>-->
<!--    <logger name="jdbc.audit" level="OFF"/>-->
<!--    <logger name="jdbc.resultset" level="OFF"/>-->
<!--    <logger name="jdbc.resultsettable" level="DEBUG"/>-->
<!--    <logger name="jdbc.connection" level="OFF"/>-->

<!--    <root level="INFO">-->
<!--        <appender-ref ref="STDOUT" />-->
<!--    </root>-->

</configuration>


