.container {
    display: flex;
    margin-left: 10vh;
}

.calendar-container {
    width: 700px;
    height: 850px;
    border: 2px solid black;
    overflow: hidden;
}

.account-section {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.account-container {
    margin-bottom: 10px;
}

/* .daily-account {

} */
